In [1]:
using Revise
using OnePiece

## normalize!

In [2]:
te = [NaN, -2, 0, NaN, 2, NaN]

OnePiece.normalization.normalize!(te, "0-1")

te

6-element Vector{Float64}:
 NaN
   0.0
   0.5
 NaN
   1.0
 NaN

## normalize

In [3]:
try

    OnePiece.normalization.normalize([], "0-1")

catch er

    println(er)

end

ErrorException("")

In [4]:
try

    OnePiece.normalization.normalize([-1, 0, 1], "sum")

catch er

    println(er)

end

ErrorException("")

In [5]:
for te in ([0], [1], [0, 0, 0], [1, 1, 1], [0, 1, 2])

    println(te)

    for me in ("0-1", "sum", "-0-")

        println(me)

        println(OnePiece.normalization.normalize(te, me))

    end

end

[0]
0-1
[NaN]
sum
[NaN]
-0-
[NaN]
[1]
0-1
[NaN]
sum
[1.0]
-0-
[NaN]
[0, 0, 0]
0-1
[NaN, NaN, NaN]
sum
[NaN, NaN, NaN]
-0-
[NaN, NaN, NaN]
[1, 1, 1]
0-1
[NaN, NaN, NaN]
sum
[0.3333333333333333, 0.3333333333333333, 0.3333333333333333]
-0-
[NaN, NaN, NaN]
[0, 1, 2]
0-1
[0.0, 0.5, 1.0]
sum
[0.0, 0.3333333333333333, 0.6666666666666666]
-0-
[-1.0, 0.0, 1.0]

In [6]:
for te in ([0], [-1, 0, 0, 1, 1, 1, 2])

    println(te)

    for me in ("1223", "1224", "1 2.5 2.5 4", "1234")

        println(me)

        println(OnePiece.normalization.normalize(te, me))

    end

end

[0]
1223
[1]
1224
[1]
1 2.5 2.5 4
[1.0]
1234
[1]
[-1, 0, 0, 1, 1, 1, 2]
1223
[1, 2, 2, 3, 3, 3, 4]
1224
[1, 2, 2, 4, 4, 4, 7]
1 2.5 2.5 4
[1.0, 2.5, 2.5, 5.0, 5.0, 5.0, 7.0]
1234
[1, 2, 3, 4, 5, 6, 7]